* {
    box-sizing: border-box;
}

html {
    background-color: #0B061B;
}

img{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

a:focus {
    outline: none;
}

.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/*header style*/

.header {
    margin-bottom: 32px;
}

.header__container {
    width: 100%;
    height: 40px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.header__photogallery {
    height: 100%;
    padding-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ECECEC;
}

.header__right {
    width: 172px;
    display: flex;
    justify-content: space-between;
    margin: 9px 0px;
}

.header__registration {
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ECECEC;
    text-decoration: none;
}

.header__login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ECECEC;
    text-decoration: none;
}

/*hline style*/

.hline {
    width: 100%;
    height: 1px;
    background: url(../img/hline.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

/*add-panel style*/

.add-panel {
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
}

.add-panel__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-panel__date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #ECECEC;
}

.add-panel__button {
    display: block;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 191px;
    background: #9747FF;
    border-radius: 10px;
}

.add-panel__button-container {
    margin: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.add-panel__button-plus {
    height: 100%;
    width: 20px;
    background: url(../img/plus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.add-panel__button-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

/*content style*/

.content {
    margin-bottom: 40px;
    height: 895px;
}

.content__container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.content__element {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 285px;
    height: 285px;
    overflow: hidden;
}
.content__element:nth-child(4n){
    margin-right: 0px;
}


.content__image {
    display: block;
}

.content__image-name {
    position: absolute;
    top: 220px;
    left: 20px;
    width: 245px;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    color: white;
}

.content__image-date {
    position: absolute;
    top: 250px;
    left: 20px;
    width: 184px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    opacity: 0.7;
}